.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  float: left;
  margin-left: 4%;
  width: 20%;
  height: 100px;
  color: white;
  background-color: black;
  text-align: center;
}
