.main-heading {
    color: red;
}

.js-target {
    font-size: 20px;
    color: green;
}

.event-button {
    border-radius: 5px;
    color: white;
    font-size: 18px;
    background-color: darkcyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    text-align: center;
}